.env
node_modules

document
templates

src/pages/AnalysisHistory.tsx
src/pages/DocumentGeneration.tsx
src/pages/DownloadHistory.tsx

src/context/DocumentContext.tsx

src/types/document.types.ts
src/types/documentConfigs.ts
