@import "tailwindcss";

:root {
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Component styles */
@layer components {
  .btn-primary {
    @apply flex items-center justify-center gap-2
      px-6 py-2.5
      bg-[#3399cc]
      hover:bg-[#2980b9]
      text-white
      font-medium
      rounded-xl
      shadow-lg shadow-blue-500/30
      transition-all
      hover:scale-[1.02]
      active:scale-[0.98];
  }

  .btn-primary:disabled {
    @apply opacity-70 cursor-not-allowed;
  }
}

.menu-item {
  @apply w-full px-4 py-3 text-left text-sm font-bold text-slate-700 hover:bg-slate-50 flex items-center gap-3;
}


@layer base {
  button:not(:disabled),
  a {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}

